//--------------------------------------------------------------
// FORM ELEMENTS
//--------------------------------------------------------------
.component-form-elements {

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {

		+ li {
			margin-top: 40px;
		}
	}

	input[type="radio"],
	input[type="checkbox"] {

		+ label {
			margin-top: 15px;
		}
	}
}
